body, html {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background: #f6e9f8;
  }
  
  .exit-container {
    text-align: center;
    padding: 20px;
  }
  
  .options-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  .option-card {
    background-color: #c29bde; 
    border: none;
    padding: 20px;
    border-radius: 10px;
    width: calc(50% - 40px); 
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .option-card h2 {
    color: #FFFFFF; 
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .exit-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .circle {
    background: #c29bde; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #FFF;
    font-size: 24px;
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .exit-button {
    background-color: #d35568; 
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
  }
  
  .exit-button:hover {
    background-color: #FF69B4; 
  }
  
  .action-box {
    background-color: #FFF; 
    border: 2px solid #000; 
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px; 
    display: inline-block;
  }
  