body, html {
  height: 100%;
  margin: 0;
  font-family: 'Nunito', sans-serif; 
}

.bg-color {
  background-color: #ADD8E6;
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-box {
  background-color: #0000FF; 
  padding: 20px;
  border-radius: 5px;
  color: white; 
  font-size: 20px;
  max-width: 50%; 
  margin: auto; 
}

.title {
  font-size: 40px; 
  font-weight: bold; 
  color: white;
}

.discover-button {
  background-color: white; 
  color: #0000FF; 
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.discover-button:hover {
  background-color: #f3f3f3; 
}

.highlight {
  color: #0000FF; 
}