<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>App Homepage</title>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/home.css">
</head>
<body>

<div class="bg-color">
  <div>
    <h1 class="title">
        What are 
        <span class="highlight">Yale</span> 
        students listening to on campus?
    </h1>
    <div class="content-box">
      START <br> DISCOVERING
      <br>
      (Raise that hand!)
    </div>
    <button class="discover-button" onclick="startDiscovering()">Start Discovering</button>
  </div>
</div>

<script src="script.js"></script>

</body>
</html>
