<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <!-- Bootstrap CSS -->
      <link href="../static/assets/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="../static/instructions.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
          <header class="mb-auto">
          </header>

          <main class="px-3">
            <h1>How does this work?</h1>
            <p class="lead">Raise your <em class="fw-bold text-danger">right</em> hand to <em class="fw-bold">add</em> your own song to the playlist.</p>
            <p class="lead">Raise your <em class="fw-bold text-primary">left</em> hand to <em class="fw-bold">see</em> the playlist.</p>
            <button id="cta-button" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Start!</button>
          </main>

          <footer class="mt-auto text-white-50">
              <p>Playlist generator for <a href="https://cpsc484-584-hci.gitlab.io/s24/project/" class="text-white">CPSC 484</a>, found <a href="https://open.spotify.com/user/jonyu02?si=79a80282bd224b51" class="text-white">@mejonyu</a> on spotify.</p>
          </footer>
          
      </div>
      <script src="../static/script.js"></script>
      <script src="../static/instructions.js"></script>
  </body>
</html>
