<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Instructions</title>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/instructions.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../static/instructions.js"></script>
</head>
<body>

<div class="instruction-container">
  <h2>HOW DOES THIS WORK?</h2>
  <ul>
    <li>Vote for your favorite song in each given genre on the next page by swiping your arms left or right. Raise your hand high to undo.</li>
    <li>See your curated playlist & what others are listening to!</li>
  </ul>
  <button class="cta-button">Raise your hand if you want in!</button>
</div>

<script>
  $(document).ready(function() {
  });
</script>

</body>
</html>
