<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Spotify App</title>
    </head>
    <body>
        <h1>Successfully added new song to CPSC 484 Songs!</h1>

        <section id="profile">
        <h2>Logged in as {{ display_name }} <span id="displayName"></span></h2>
        <img id="avatar" width="200" src={{image}}/>
        <ul>
            <li>User ID: {{ id }}<span id="id"></span></li>
            <li>Spotify URI: <a id="uri" href={{uri}}>{{ uri }}</a></li>
            <li>Link: <a id="url" href={{url}}>{{ url }}</a></li>
        </ul>
        </section>
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="../static/profile.js"></script>
    </body>
</html>