<!doctype html>
<html lang="en" class="h-100">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- Bootstrap CSS -->
        <link href="../static/assets/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/search.css" rel="stylesheet">
    </head>
    <body class="d-flex h-100 text-center text-white bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
            </header>

            <main class="px-3">
                <h1>Add a song to the playlist!</h1>
                <p class="lead">Search for a song and artist name using the microphone:</p>
                <form id="song-form">
                    <div class="mb-4">
                        <input type="text" class="form-control" id="song">
                    </div>
                    <button type="submit" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Add Song</button>
                </form>
                <p class="lead mt-3 mb-1">Raise your <em class="fw-bold text-danger">right</em> hand to submit.</p>
                <p class="lead">Raise your <em class="fw-bold text-primary">left</em> hand to clear your input.</p>
            </main>

            <footer class="mt-auto text-white-50">
                <p>Playlist generator for <a href="https://cpsc484-584-hci.gitlab.io/s24/project/" class="text-white">CPSC 484</a>, found <a href="https://open.spotify.com/user/jonyu02?si=79a80282bd224b51" class="text-white">@mejonyu</a> on spotify.</p>
            </footer>
            
        </div>
        <script src="../static/search.js"></script>
    </body>
</html>