<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Song Selection Page</title>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/selection.css">
</head>
<body>

<div class="selection-container">
  <header>
    <h1>GENRE A</h1>
  </header>
  
  <div class="song-options">
    <div class="song-card swipe-right">
      <h2>Swipe right</h2>
      <div class="song">
        <h3>SONG A</h3>
        <div class="qr-code">QR CODE</div>
      </div>
    </div>

    <div class="song-card swipe-left">
      <h2>Swipe left</h2>
      <div class="song">
        <h3>SONG B</h3>
        <div class="qr-code">QR CODE</div>
      </div>
    </div>
  </div>

  <footer class="footer-container">
    <div class="circle">40</div>
    <div class="instruction-box">
      <p class="instruction-text">
        Make an <span class="red-text">“X”</span> with your hands to leave
      </p>
    </div>
    <div class="help-box">
      <p class="help-text">Raise your hand for help</p>
    </div>
  </footer>
</div>

<script src="../static/script.js"></script>

</body>
</html>
